* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: pnBold;
  src: url(./fonts/bold.otf) format("opentype");
}

@font-face {
  font-family: pnReg;
  src: url(./fonts/regular.ttf) format("truetype");
}

//** dementia section
.dementiaPage {
  #ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1001;
  }

  #popup {
    width: 650px;
    height: 250px;
    background: #111414;
    font-family: pnBold;
    color: #fff;
    border: 5px solid #000;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    box-shadow: #64686e 0px 0px 3px 3px;
    -moz-box-shadow: #64686e 0px 0px 3px 3px;
    -webkit-box-shadow: #64686e 0px 0px 3px 3px;
    position: relative;
    top: 200px;
    left: 450px;
  }

  .stylingPop {
    h2 {
      font-size: 45px;
    }
    h3 {
      color: orange;
      font-size: 20px;
      margin-bottom: 40px;
    }
    .inputText {
      border: none;
      text-decoration: none;
      border: 2px solid white;
      background-color: transparent;
      border-radius: 7px;
      width: 500px;
      padding: 10px;
      &::placeholder {
        color: white;
      }
    }

    .submitBtn {
      border: none;
      outline: none;
      padding: 10px;
      width: 100px;
      border: 2px solid white;
      background: #111111;
      color: orange;
      border-radius: 20px;
      &:hover {
        background: orange;
        color: black;
      }
    }
  }

  .nav {
    position: absolute;
    width: 100%;
    .logo {
      height: 70px;
      position: relative;
      top: 0.6rem;
      left: 3rem;
      z-index: 1;
      &:hover {
        cursor: pointer;
      }
    }

    h2 {
      position: absolute;
      z-index: 1;
      top: -1rem;
      right: 7rem;
      padding: 10px;
      border: 2px solid black;
      border-radius: 7px;
      font-family: pnBold;
      font-size: 20px;
      width: 150px;
      text-align: center;
      &:hover {
        background-color: #8725f8;
        color: #000000;
      }
    }

    i {
      position: absolute;
      z-index: 1;
      color: #8725f8;
      font-size: 25px;
      top: 2rem;
      right: 3rem;
    }
  }

  .banner {
    background-color: #d5d6d8;
    text-align: center;
    height: 90vh;
    h1 {
      position: absolute;
      top: 60rem;
      left: 60rem;
      font-family: pnBold;
      font-size: 60px;
      color: black;
    }
    img {
      height: 70vh;
      margin-top: 50px;
      width: 60%;
    }
  }

  .deaf-music-card {
    position: absolute;
    top: 15rem;
    right: 10rem;
    margin: 100px auto;
    // background: #262626;

    background-image: url(./images/chatbot.jpg);
    background-size: cover;
    background-position: center;

    // box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3),
      0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    height: 500px;
    border-radius: 6px;
    border: 2px solid #8725f8;
    z-index: 99;

    h2 {
      font-size: 30px;
      text-align: center;
      font-family: pnBold;
      margin-top: 360px;
    }
    button {
      position: absolute;
      bottom: 0.2rem;
      left: 7.2rem;
      border: none;
      outline: none;
      font-family: pnBold;
      font-size: 20px;
      padding: 5px;
      width: 150px;
      color: white;
      background-color: #8725f8;
      border-radius: 20px;
      &:hover {
        background-color: transparent;
        border: 2px solid #8725f8;
      }
    }
  }

  .horizontalbar {
    width: 100%;
    height: 19vh;
    background-color: #f4f5f5;
    position: absolute;
  }

  .bigbar {
    position: absolute;
    background-color: #f4f5f5;
    height: 105vh;
    width: 51.8vw;
  }

  .bottombar {
    position: absolute;
    background-color: #f4f5f5;
    width: 100%;
    height: 22.8999vh;
    bottom: -76.8rem;
  }

  .rightbar {
    position: absolute;
    background-color: #f4f5f5;
    height: 105vh;
    width: 40.55vh;
    right: 0;
    z-index: 1;
  }

  .dialogflow {
    section {
      iframe {
        width: 99%;
        height: 105vh;
        overflow-x: hidden;
        overflow-y: hidden;
      }
    }
  }
  .videoPlay {
    position: absolute;
    height: 106vh;
  }

  .heading {
    h2 {
      position: absolute;
      font-family: pnBold;
      font-size: 40px;
      width: 30%;
      margin-top: 80px;
      margin-left: 20px;
    }
  }

  .title {
    position: absolute;
    top: 77rem;
    left: 75rem;
    z-index: 1;
    h2 {
      font-family: pnBold;
      font-size: 50px;
      color: black;
    }
  }
}

//? remmembing

.reminder {
  // position: fixed;
  bottom: 0;
  right: 0;
  background-color: #272727;
}

.s-dialog {
  position: fixed;
  top: auto;
  right: 10px;
  left: auto;
  bottom: 0;
}
.s-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  background-color: #16aec3;
  border: 1px solid #16aec3;
  text-align: center;
  color: black;
}
.s-header,
.s-body {
  border-bottom: 0 none;
}
.close-btn {
  color: white;
  background-color: white;
  outline: #16aec3;
  font-weight: 200;
}
.close-btn:hover {
  color: white;
  outline: #16aec3;
}

.learn-link {
  display: inline-block;
  margin: 20px;
  background-color: black;
  color: #16aec3 !important;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 50px;
}

.modal.fade .s-dialog {
  transform: translate3d(0, 100vh, 0);
}

.modal.in .s-dialog {
  transform: translate3d(0, 0, 0);
}
.modal-backdrop.in {
  opacity: 0;
}

.modal-body {
  border-radius: 10px;
  h3 {
    font-family: pnBold;
    font-size: 20px;
  }

  i {
    font-size: 35px;
    color: red;
    margin-left: 400px;
  }

  h2 {
    font-family: pnBold;
    font-size: 35px;
    color: orange;
    width: 100%;
    background-color: #272727;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3),
      0 55px 50px -35px rgba(0, 0, 0, 0.3), 0 85px 60px -25px rgba(0, 0, 0, 0.1);
  }
}
