* {
  margin: 0;
  padding: 0;
}
body {
  font: 71%/1.5 Verdana, Sans-Serif;
  background: #eee;
}
#container {
  margin: 100px auto;
  width: 688px;
}
#write {
  margin: 0 0 5px;
  padding: 5px;
  width: 671px;
  height: 200px;
  font: 1em/1.5 Verdana, Sans-Serif;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}
#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.capslock,
.tab,
.left-shift {
  clear: left;
}
#keyboard .tab,
#keyboard .delete {
  width: 70px;
}
#keyboard .capslock {
  width: 80px;
}
#keyboard .return {
  width: 77px;
}
#keyboard .left-shift {
  width: 95px;
}
#keyboard .right-shift {
  width: 109px;
}
.lastitem {
  margin-right: 0;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  clear: left;
  width: 681px;
}
.on {
  display: none;
}
#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}

// My style

#keyboard {
  .symbol {
    img {
      height: 3em;
    }
  }
  .letter {
    img {
      height: 3em;
    }
  }
}

#write {
  display: flex;
  img {
    height: 3em;
    margin-right: 2.5px;
  }

  .bm {
    background-color: transparent;
    width: 100px;
    height: 3em;
    display: inline-block;
    vertical-align: top;
    /*float: left;*/
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    margin-left: -35px;
  }

  .bm.blinker {
    background-color: #333333;
    width: 3px;
    margin-left: 0px;
    animation: blink-animation 1.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(5, start) infinite;
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
